.nav-link,.navbar-brand{
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    height: 30px;

}
.navbar .nav-item .nav-link:hover{
    color: black !important;
    font-weight: bold;
    transition: all.5s ease-in-out;
}
.navbar-collapse{
    text-align: right;
}
h2 .fa{
    color: gold;
    font-size: 30px;
}
@media screen and (min-width: 480px){
    #roshetabtn{
        padding: 1px;
        display: flex;
        justify-content: center;
    }
}